.btn_cont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#btn {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: brown;
    color: aliceblue;
}

#btn:hover {
    border-radius: 10px;
    background-color: blueviolet;
    transition: 0.5s;
}